<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form method="POST" action="/pedidos">
    <div>
      <label for="productName">Nombre de producto:</label>
      <input id="productName" name="productName">
    </div>
    <div>
      <label for="quantity">Cantidad:</label>
      <input id="quantity" name="quantity" type="number">
    </div>
    <div>
      <label for="unitCost">Costo unitario:</label>
      <input id="unitCost" name="unitCost" type="number" step="0.01">
    </div>
    <div>
      <label for="clientName">Nombre del cliente:</label>
      <input id="clientName" name="clientName">
    </div>
    <div>
      <label for="clientAddress">Dirección del cliente:</label>
      <input id="clientAddress" name="clientAddress">
    </div>
    <button>Enviar</button>
  </form>
</body>

</html>